@model SignInVM
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login </title>

    <!-- Bootstrap -->
    <link href="~/Admin-Template/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Admin-Template/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Admin-Template/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="~/Admin-Template/vendors/animate.css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/Admin-Template/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="login">
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>
<div class="login_wrapper">
    <div class="animate form login_form" style="background-color:white;padding:20px;border-radius:15px;">
        <section class="login_content">
                <form method="post">
                <h1>Login Form</h1>

                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div>
                        <input type="text"  class="form-control" asp-for=UsernameOrEmail placeholder="UsernameOrEmail" required="" />
                        <span class="text-danger" asp-validation-for="UsernameOrEmail"></span>
                </div>
                <div>
                    <input type="password" class="form-control" asp-for=Password placeholder="Password" required="" />
                        <span class="text-danger" asp-validation-for="Password"></span>
                </div>
                <div>
                  <button class="btn btn-default submit">Submit</button>
                 
                </div>

                <div class="clearfix"></div>

                <div class="separator">
                    <p class="change_link">
                        New to site?
                            <a href="@Url.Action("Register","Auth")" class="to_register"> Create Account </a>
                    </p>

                    <div class="clearfix"></div>
                    <br />

                </div>
            </form>
        </section>
    </div>


</div>
</body>
</html>